mat-card + mat-card {
  margin-top: 12px;
}

:host ::ng-deep {
  mat-radio-button label {
    font-size: 24px;
    padding: 6px;
  }

  mat-radio-button:not(:last-child) label {
    padding-right: 16px;
  }
}

.game-status {
  ::ng-deep mat-radio-button label {
    width: 120px;
  }
}

.items-count {
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  color: gray;
}

.submit-row {
  width: 100%;
  bottom: 8px;
  margin-top: 8px;
  display: flex;
  position: sticky;
  pointer-events: none;
  justify-content: flex-end;

  > * {
    pointer-events: auto;
  }

  button {
    padding: 8px 12px;
    font-size: 22px;
    color: black;

    &:first-child {
      margin-right: 12px;
    }
  }


  button[type=submit] {
    background-color: aliceblue;
  }
}
