<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-card *ngLet="submitAttempt && (formErrors.playerCount) as invalidMsg"
            [class.invalid-card]="invalidMsg">
    <mat-card-title>賽局</mat-card-title>
    <mat-card-content class="game-status">
      <mat-radio-group formControlName="playerCount">
        <mat-radio-button [value]="2">2人賽</mat-radio-button>
        <mat-radio-button [value]="4">4人賽</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <mat-card *ngLet="submitAttempt && formErrors.winner as invalidMsg"
            [class.invalid-card]="invalidMsg">
    <mat-card-title>輸贏</mat-card-title>
    <mat-card-content class="game-status">
      <mat-radio-group formControlName="winner">
        <mat-radio-button value="a">A 隊贏</mat-radio-button>
        <mat-radio-button value="b">B 隊贏</mat-radio-button>
        <mat-radio-button value="deuce">平手</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <mat-card *ngLet="submitAttempt && formErrors.itemsA as invalidMsg" [class.invalid-card]="invalidMsg">
    <mat-card-title>A隊 - 道具
      <span class="items-count" [class.error-message]="!formGroup.controls['itemsA'].valid">
        {{teamAItemsCount$ | async}}/{{availableItemsCount || '?'}}
      </span>
    </mat-card-title>
    <mat-card-content>
      <app-game-item-select
        formControlName="itemsA"
        [maxItemCount]="availableItemsCount"
        [items]="allGameItems"
      ></app-game-item-select>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <mat-card *ngLet="submitAttempt && formErrors.coinsA as invalidMsg" [class.invalid-card]="invalidMsg">
    <mat-card-title>A隊 - 新朋友加成
      <span class="items-count" [class.error-message]="!formGroup.controls['coinsA'].valid">
        {{teamACoinCount$ | async}}/{{availableItemsCount || '?'}}
      </span>
    </mat-card-title>
    <mat-card-content>
      <app-game-item-select
        formControlName="coinsA"
        [maxItemCount]="availableItemsCount"
        [items]="allCoinTypes"
      ></app-game-item-select>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <mat-card *ngLet="submitAttempt && formErrors.itemsB as invalidMsg" [class.invalid-card]="invalidMsg">
    <mat-card-title>B隊 - 道具
      <span class="items-count" [class.error-message]="!formGroup.controls['itemsB'].valid">
        {{teamBItemsCount$ | async}}/{{availableItemsCount || '?'}}
      </span>
    </mat-card-title>
    <mat-card-content>
      <app-game-item-select
        formControlName="itemsB"
        [maxItemCount]="availableItemsCount"
        [items]="allGameItems"
      ></app-game-item-select>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <mat-card *ngLet="submitAttempt && formErrors.coinsB as invalidMsg" [class.invalid-card]="invalidMsg">
    <mat-card-title>B隊 - 新朋友加成
      <span class="items-count" [class.error-message]="!formGroup.controls['coinsB'].valid">
        {{teamBCoinCount$ | async}}/{{availableItemsCount || '?'}}
      </span>
    </mat-card-title>
    <mat-card-content>
      <app-game-item-select
        formControlName="coinsB"
        [items]="allCoinTypes"
        [maxItemCount]="formGroup.value['playerCount']"
      ></app-game-item-select>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <div class="submit-row">
    <button [style.display]="formGroup.pristine? 'none':''"
            class="reset-form" mat-stroked-button type="button"
            (click)="reset()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button type="submit" mat-raised-button>計算分數</button>
  </div>
</form>
