<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-card *ngLet="submitAttempt && (formErrors.playerCount || formErrors.winner) as invalidMsg"
            [class.invalid-card]="invalidMsg">
    <mat-card-title>賽局</mat-card-title>
    <mat-card-content class="game-status">
      <mat-radio-group formControlName="playerCount">
        <mat-radio-button [value]="2">2人賽</mat-radio-button>
        <mat-radio-button [value]="4">4人賽</mat-radio-button>
      </mat-radio-group>
      <mat-divider [inset]="true"></mat-divider>
      <mat-radio-group formControlName="winner">
        <mat-radio-button value="a">A 隊贏</mat-radio-button>
        <mat-radio-button value="b">B 隊贏</mat-radio-button>
        <mat-radio-button value="deuce">平手</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <mat-card *ngLet="submitAttempt && formErrors.teamAItems as invalidMsg" [class.invalid-card]="invalidMsg">
    <mat-card-title>A隊 - 道具
      <span class="items-count" [class.error-message]="!formGroup.controls['teamAItems'].valid">
        {{teamAItemsCount$ | async}}/{{availableItemsCount || '?'}}
      </span>
    </mat-card-title>
    <mat-card-content>
      <app-game-item-select
        formControlName="teamAItems"
        [maxItemCount]="availableItemsCount"
        [items]="allGameItems"
      ></app-game-item-select>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <mat-card *ngLet="submitAttempt && formErrors.teamACoins as invalidMsg" [class.invalid-card]="invalidMsg">
    <mat-card-title>A隊 - 新朋友加成
      <span class="items-count" [class.error-message]="!formGroup.controls['teamACoins'].valid">
        {{teamACoinCount$ | async}}/{{availableItemsCount || '?'}}
      </span>
    </mat-card-title>
    <mat-card-content>
      <app-game-item-select
        formControlName="teamACoins"
        [maxItemCount]="availableItemsCount"
        [items]="allCoinTypes"
      ></app-game-item-select>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <mat-card *ngLet="submitAttempt && formErrors.teamBItems as invalidMsg" [class.invalid-card]="invalidMsg">
    <mat-card-title>B隊 - 道具
      <span class="items-count" [class.error-message]="!formGroup.controls['teamBItems'].valid">
        {{teamBItemsCount$ | async}}/{{availableItemsCount || '?'}}
      </span>
    </mat-card-title>
    <mat-card-content>
      <app-game-item-select
        formControlName="teamBItems"
        [maxItemCount]="availableItemsCount"
        [items]="allGameItems"
      ></app-game-item-select>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <mat-card *ngLet="submitAttempt && formErrors.teamBCoins as invalidMsg" [class.invalid-card]="invalidMsg">
    <mat-card-title>B隊 - 新朋友加成
      <span class="items-count" [class.error-message]="!formGroup.controls['teamBCoins'].valid">
        {{teamBCoinCount$ | async}}/{{availableItemsCount || '?'}}
      </span>
    </mat-card-title>
    <mat-card-content>
      <app-game-item-select
        formControlName="teamBCoins"
        [items]="allCoinTypes"
        [maxItemCount]="formGroup.value['playerCount']"
      ></app-game-item-select>
    </mat-card-content>
    <label *ngIf="invalidMsg" class="error-message">{{invalidMsg}}</label>
  </mat-card>

  <div class="submit-row">
    <button type="submit" mat-raised-button>計算分數</button>
  </div>
</form>
