<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>賽局</mat-card-title>
    <mat-card-content class="game-status">
      <mat-radio-group formControlName="playerCount">
        <mat-radio-button [value]="2">2人賽</mat-radio-button>
        <mat-radio-button [value]="4">4人賽</mat-radio-button>
      </mat-radio-group>
      <mat-divider [inset]="true"></mat-divider>
      <mat-radio-group formControlName="winner">
        <mat-radio-button value="a">A 隊贏</mat-radio-button>
        <mat-radio-button value="b">B 隊贏</mat-radio-button>
        <mat-radio-button value="deuce">平手</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>A隊 - 新朋友加成</mat-card-title>
    <mat-card-content>
      <app-newcomer-addition formControlName="teamANewcomerAddition"></app-newcomer-addition>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>A隊 - 道具</mat-card-title>
    <mat-card-content>
      <app-game-item-select formControlName="teamAItems"></app-game-item-select>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>B隊 - 新朋友加成</mat-card-title>
    <mat-card-content>
      <app-newcomer-addition formControlName="teamBNewcomerAddition"></app-newcomer-addition>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>B隊 - 道具</mat-card-title>
    <mat-card-content>
      <app-game-item-select formControlName="teamBItems"></app-game-item-select>
    </mat-card-content>
  </mat-card>

  <div class="submit-row">
    <button type="submit" mat-raised-button>送出</button>
  </div>
</form>
