.error-message {
  color: orangered !important;
}

.invalid-card {
  background-color: #fce8e6;
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
  border-radius: 4px;
  overflow: hidden;

  mat-dialog-actions.mat-dialog-actions {
    margin-bottom: 0;
  }
}
